<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil</title>
</head>
<body>
    <h1>Bienvenue sur notre site !</h1>
    
        <ul>   
            <li>
                <a href="{{ path('app_login') }}">Se connecter</a>
            </li>
            <li>
                <a href="{{ path('app_register') }}">S'inscrire</a>
            </li>
        </ul>
        
        
</body>
</html>