{% extends 'base.html.twig' %}

{% block title %}Modification d'un rôle{% endblock %}

{% block body %}
    <h1>Modification du rôle de {{ users.nom }}</h1>

    {{ form_start(form) }}

        {{ form_row(form.roles) }}

        <button type="submit" class="btn">Enregistrer</button>

    {{ form_end(form) }}
{% endblock %}